*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(25, 174, 204)
}

.container{
    position: relative;
    width: 290px;
    height: 4rem;
    background: #418fc0;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
    transform: .4 ease-in-out;
}


.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search-box input{
    color: #f0f9ff;
    background: #85b6d4;
    width: 93%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
    border-radius: 30px;
}

.search-box input::placeholder{
    font-size: 12px;
    font-weight: 500;
    color: #f0f9ff;
    text-transform: capitalize;

}

.search-box button{
    cursor: pointer;
    background: #234255;
    color: #f0f9ff;
    border-radius: 30px;
    width: 2rem;
    height: 2rem;
    margin-left: .3rem;

}

.search-box button:hover{
    cursor: pointer;
    background: #cfdde6;
    color: #e9eef1;

}

.search-box i {
    position: absolute;
    color: #fff;
    font-size: 10;
    margin-left: 1rem;
}

.weatherBox{
    text-align: center;
}


.weatherBox{
    width: 60%;
    margin-top: 20px;

}

.weatherBox .temperature{
    position: relative;
    color: rgb(25, 174, 204);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: -16px;

}
.weatherBox .temperature span{
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 4px;

}

.weatherBox .description{
    color: #418fc0;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.weatherBox img{
    width: 100%

}

.weatherDetails{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.weatherDetails .humidity, .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.weatherDetails .humidity{
    padding-left: 20px;
    justify-content:  flex-start;

}

.weatherDetails .wind{
    padding-right: 20px;
    justify-content: flex-end;

}

.weatherDetails i{
    color:rgb(25, 174, 204);
    font-size: 16px;
    margin-right: 10px;
    margin-top: 6px;
}

.weatherDetails span{
    color: #418fc0;
    font-size: 22px;
    font-weight: 400;
}

.weatherDetails p{
    color: #418fc0;
    font-size: 10px;
    font-weight: 400;
}



.error404{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.error404 img{
    width: 90%

}

.error404 p{
    color: #418fc0;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

.weatherBox, .weatherDetails{
    scale: 0;
    opacity: 0;
}

.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: .5s;

}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}